[buildout]
include-site-packages = false
relative-paths = true
prefer-final = false
unzip = true
newest = false
download-cache = .cache
develop = .
parts = 

[project]
name = infinidat_openstack
company = Infinidat
namespace_packages = []
install_requires = [
	'docopt>=0.6.2',
	'importlib>=1.0.3',
	'infinipy>=27.1',
	'json-rest>=0.1.6',
	'PrettyTable',
	'setuptools>=6.0.2',
	'URLObject>=2.4.0'
	]
version_file = src/infinidat_openstack/__version__.py
description = openstack
long_description = openstack
console_scripts = ['infini-openstack = infinidat_openstack.scripts:main']
gui_scripts = []
package_data = []
upgrade_code = {c193deab-5693-11e3-b01c-84383565d680}
product_name = infinidat_openstack
post_install_script_name = None
pre_uninstall_script_name = None

[isolated-python]
recipe = infi.recipe.python
version = v2.7.6.21

[setup.py]
recipe = infi.recipe.template.version
input = setup.in
output = setup.py

[__version__.py]
recipe = infi.recipe.template.version
output = ${project:version_file}
input = inline:
	__version__ = "${infi.recipe.template.version:version}"
	__git_commiter_name__ = "${infi.recipe.template.version:author}"
	__git_commiter_email__ = "${infi.recipe.template.version:author_email}"
	__git_branch__ = ${infi.recipe.template.version:git_local_branch}
	__git_remote_tracking_branch__ = ${infi.recipe.template.version:git_remote_tracking_branch}
	__git_remote_url__ = ${infi.recipe.template.version:git_remote_url}
	__git_head_hash__ = ${infi.recipe.template.version:head_hash}
	__git_head_subject__ = ${infi.recipe.template.version:head_subject}
	__git_head_message__ = ${infi.recipe.template.version:head_message}
	__git_dirty_diff__ = ${infi.recipe.template.version:dirty_diff}

[development-scripts]
dependent-scripts = true
recipe = infi.recipe.console_scripts
eggs = mock
	infi.traceback
	${project:name}
	infi.unittest
	oslo.config
	pylint
	Brownie
	infi.pypi_manager
	infi.vendata.integration_tests
	nose
	infi.vendata.smock
	ipython
	infi.vendata.powertools
	coverage
	python-cinderclient
	python-glanceclient
	Fabric
interpreter = python

[eclipse]
recipe = rbco.recipe.pyeclipse
project-name = ${project:name}
project-directory = ${buildout:directory}
python-version = 2.7
source-resources = ${buildout:directory}/src

[pydev]
recipe = pb.recipes.pydev
eggs = ${development-scripts:eggs}

[pack]
recipe = infi.recipe.application_packager

[sublime]
recipe = corneti.recipes.codeintel
eggs = ${development-scripts:eggs}

[versions]
api-object-schema = 1.5.0
Archive = 0.3
argparse = 1.2.1
astroid = 1.2.1
Babel = 1.3
Brownie = 0.5.1
capacity = 1.3.6
cffi = 0.8.6
CherryPy = 3.6.0
collective.recipe.template = 1.11
colorama = 0.3.2
comtypes = 1.1.1
contextlib2 = 0.4.0
coverage = 3.7.1
cryptography = 0.6
Cython = 0.21.1
daemon = 1.1
distribute = 0.7.3
docopt = 0.6.2
ecdsa = 0.11
ecosystem = 27.0
emport = 1.0.0
Fabric = 1.10.0
Flask = 0.10.1
Flask-Loopback = 1.2.2
flux = 1.2.4
gevent = 1.0.1
gipc = 0.4.0
git-py = 1.0.1
gnureadline = 6.3.3
gossip = 0.9.0
greenlet = 0.4.4
importlib = 1.0.3
infi.asi = 0.3.29
infi.conf = 0.0.15
infi.cwrap = 0.2.9
infi.devicemanager = 0.2.11
infi.diskmanagement = 0.3.7
infi.docopt-completion = 0.2.5
infi.dtypes.hctl = 0.0.7
infi.dtypes.wwn = 0.1
infi.eventlog = 0.1.8
infi.exceptools = 0.2.9
infi.execute = 0.1
infi.hbaapi = 0.1.33
infi.instruct = 0.6.25
infi.logs-collector = 0.1.7
infi.monotonic-time = 0.1.5
infi.mountoolinux = 0.1.16
infi.multipathtools = 0.1.28
infi.parted = 0.2.7
infi.pkgmgr = 0.1.8
infi.pypi-manager = 0.4.25
infi.pyutils = 1.0.8
infi.reboot = 0.2.8
infi.recipe.application-packager = 0.5.21
infi.recipe.buildout-logging = 0.1.3
infi.recipe.close-application = 0.0.13
infi.recipe.console-scripts = 0.3.15
infi.recipe.template.version = 0.4.19
infi.registry = 0.1.17
infi.run-as-root = 0.1.4
infi.sgutils = 0.1.7
infi.storagemodel = 0.2.34
infi.systray = 0.1.7
infi.sysv-service = 0.1.10
infi.traceback = 0.3.10
infi.unittest = 1.1.0
infi.vendata.get-logs = 1.0.5
infi.vendata.infi-access = 0.9.13
infi.vendata.infinilab-api = 1.2.4
infi.vendata.integration-tests = 1.3.14
infi.vendata.jenkins-api = 0.3.5
infi.vendata.powertools = 1.10.6
infi.vendata.smock = 1.5.13
infi.winapi.file-version-information = 0.0.8
infi.winver = 0.2.6
infi.wioctl = 0.1.9
infi.wmi = 0.1.26
infi.wmpio = 0.1.22
infinibox-sysdefs = 27.0
infinipy = 27.1
infinisim = 27.0
ipython = 2.3.0
iso8601 = 0.1.10
itsdangerous = 0.24
jenkinsapi = 0.2.25
Jinja2 = 2.7.3
jira = 0.25
json-rest = 0.1.6
jsonpatch = 1.8
jsonpickle = 0.8.0
jsonpointer = 1.4
jsonschema = 2.4.0
Logbook = 0.7.0.4
logilab-common = 0.62.1
lxml = 3.3.6
Mako = 1.0.0
MarkupSafe = 0.23
mock = 1.0.1
munch = 2.0.2
netaddr = 0.7.12
nose = 1.3.4.1
oauthlib = 0.6.3
oslo.config = 1.4.0
paramiko = 1.15.1
pbr = 0.10.0
pip = 1.5.6
plumbum = 1.4.2
prettytable = 0.7.2
psutil = 2.1.3
pycparser = 2.10
pycrypto = 2.6.1
pyforge = 1.2.0
pyformance = 0.2.5
pylint = 1.3.1
pymongo = 2.7.2
pyOpenSSL = 0.14
pypng = 0.0.17
pystick = 0.1.2
python-cinderclient = 1.1.1
python-cjson = 1.1.0
python-glanceclient = 0.14.1
python-keystoneclient = 0.11.1
pytz = 2014.7
reimport = 1.3
requests = 2.4.3
requests-oauthlib = 0.4.1
rpyc = 3.3.0
sentinels = 0.0.6
setuptools = 6.0.2
simplejson = 3.6.4
six = 1.8.0
ssh = 1.8.0
stevedore = 1.0.0
storage-interfaces = 1.0.1
tlslite = 0.4.6
tzlocal = 1.1.2
URLObject = 2.4.0
waiting = 1.0.1
warlock = 1.1.0
Werkzeug = 0.9.6
xmltodict = 0.9
z3c.recipe.scripts = 1.0.1
zc.buildout = 2.2.1
zc.recipe.egg = 2.0.1

